@import 'variables.css';


/* Page-wide basic reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Basic resets for all <a>'s everywhere */
/* (removes underlines & weird colors) */
a, a:hover, a:visited {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    cursor: pointer;
}


/* Set heading font */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: normal;
}


/* Header-only stuff */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Stuff used in both the header AND footer */
header, footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 60px;
}

.logo {
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 20%;
}

.brand {
    font-family: var(--heading-font);
    text-align: center;
    font-weight: normal;
    text-shadow: 0 0 5px var(--secondary-color)
}

.nav-links {
    display: flex;
    gap: 2em;
    align-items: center;
}

.nav-links a {
    font-weight: 600;
}

.nav-links a:hover {
    text-decoration: underline;
    color: var(--accent-color2);
}


/* Footer-only stuff */
.footer-main {
    display: flex;
    justify-content: space-between;
}

.footer-branding {
    justify-self: right;
    display: flex;
    gap: 2em;
    align-items: center;
    font-size: 12px;
}

.footer-text {
    font-weight: lighter;
    margin-top: -1em;
    margin-bottom: -0.5em;
}

