@import 'shared/shared.css';

body {
    background-color: white;
    font-family: var(--paragraph-font);
}

.hero-container {
    background-color: var(--accent-color2);
    width: 100%;
    height: 450px;
}

.hero-image {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: 0 60%;
}

main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.color-stripe {
    grid-area: 1/2/6/8;
    background-color: var(--primary-color);
    z-index: -1;
}

.page-title {
    grid-area: 1/2/2/8;
    font-size: 32px;
    text-align: center;
    margin: 25px;
}

.color-box {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px 40px;
    margin-bottom: 40px;
}

.color-box-left {
    grid-area: 2/1/3/7;
    padding-left: 25%;
}

.color-box-right {
    grid-area: 3/3/4/9;
    padding-right: 25%;
}

.content-title {
    color: var(--accent-color1);
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: left;
}

.content-para {
    text-align: justify;
}


/* Mobile-friendly styles (do these if the screen is a certain size) */
@media screen and (max-width: 900px) {
    main {
        display: block;
        position: relative;
        padding-bottom: 40px;
    }

    .color-stripe {
        position: absolute;
        top: 0;
        left: 10%;
        width: 80%;
        height: 100%;
    }

    .page-title {
        margin: 0;
        padding: 25px 10%;
    }

    .color-box-left, .color-box-right {
        padding-left: 40px;
        padding-right: 40px;
    }

    .content-title {
        text-align: center;
    }

    .color-box:last-of-type {
        margin-bottom: 0;
    }
}

